
/********card*********/

/* .box-groupCard,
   .box-groupCard *{
        border: 1px solid red;
    }  */

.box-groupCard{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-card{
    aspect-ratio: 3/3.5;
    width: 210px;
    background-color: rgba(17, 22, 47, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.box-image{
    width: 90%;
    height: 50%;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.box-image img{
    width: 100%;
    height: 100%;
}

.infobox{
    width: 90%;
    height: 40%;
    margin-top: 5px;
}

.infobox p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.infobox p:first-of-type{
    font-size: 20px;
}
.infobox p::first-letter{
    text-transform: uppercase;
}

.infobox p:last-of-type{
    margin-block-start: 0.5em;
    font-size: 10px;
}

@media (min-width: 1023px){
    .box-groupCard{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 481px){
    /* .box-groupCard,
    .box-groupCard *{
        border: 1px solid red;
    } */

    .box-groupCard{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

}