@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
html, body{
    height: 100vh;
}
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #01308B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

img{
    width: 100%;
    height: 100%;
}

.header{
    background: linear-gradient(rgba(8, 0, 91, 0.46), #01308B);
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header a #memoji{
    width: 100%;
    height: 100%;
}

#image{
    width: 80px;
    height: 80px;
}