@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
body{
    height: 100vh;
}
*{
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: #01308B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 13px;
}

img{
    width: 100%;
    height: 100%;
}

.header{
    background: linear-gradient(rgba(8, 0, 91, 0.46), #01308B);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header a{
    font-size: 10px;
}

.box{
    position: relative;
    height: 50%;
}
#memoji{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    height: 256px;
    width: 256px;
}

.box-social{
    position: relative;
    margin-top: 250px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 2;
}

.social{
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.social img{
    height: 24px;
    width: 24px;

}


.name-text{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-text p{
    color: rgb(255, 255, 255);
    margin: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.name-text p span{
    margin-top: 0%;
    margin-left: 0%;
    display: block;
}

.name-text #desc,
.name-text #dream{
    color: white;
    font-weight: lighter;
}

.name-text #desc #dream{
    font-weight:400;
}

.info{
    height: 90px;
    width: 100%;
    bottom: 0%;
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.info p{
    color: white;
    font-weight:normal;
}

.info p span{
    display: block;
}

@media (min-width: 768px) {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-top: 10%;
    }
    .box{
        width: 50%;
    }

    .name-text{
        position: absolute;
        left: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .name-text p{
        text-align: left;
    }

    #memoji{
        bottom: 10%;
    }
}

@media (min-width: 1440px){

    #memoji{
        height: 350px;
        width: 350px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
    }
    .name-text{
        width: 300px;
        height: auto;
        transform: translateY(-45%);
    }
    .name-text p span{
        margin-top: 0%;
        margin-left: 30%;
        display: block;
    }

    .info{
        width: 90px;
        height: 100vh;
        top: 0;
        left: 100%;
        transform: translateX(-100%);
        position:absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        margin-top: 0%;
        height: 80%;
    }

    .box{
        height: 70%;
    }

    .box-social{
        position: absolute;
        left: 50%;
        width: 70%;
        transform: translateX(-50%);
        margin-top: 40%;
    }
    .social{
        aspect-ratio: 1/1;
        width: 60px;
    }
    .social img{
        height: 48px;
        width: 48px;
    
    }

    .header a{
        font-size: 15px;
    }
}